<header class="masthead" style="background-image: url('<%= blogPost.image %>')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Edit Blog Post</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->`
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% if (validationErrors && validationErrors.length > 0) { %>
      <ul class="list-group">
        <% for (var i = 0; i < validationErrors.length; i++) { %>
        <li class="list-group-item list-group-item-danger">
          <%= validationErrors[i] %>
        </li>
        <% } %>
      </ul>
      <% } %>
      <form
        action="/post/<%= blogPost.id %>"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="title">Title</label>
            <input
              class="form-control"
              type="text"
              name="title"
              value="<%= blogPost.title %>"
              id="title"
              placeholder="Title"
            />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="body">Description</label>
            <textarea class="form-control" name="body" id="body" rows="5">
            <%= blogPost.body %>
          </textarea
            >
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group-controls">
            <label for="image">Image</label>
            <input class="form-control" type="file" name="image" id="image" />
          </div>
        </div>
        <br />
        <div class="form-group">
          <button class="btn btn-primary" id="sendMessage" type="submit">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css"
  rel="stylesheet"
/>
<link href="/css/styles.css" rel="stylesheet" />
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script>
  window.addEventListener("load", function () {
    $("#body").summernote({
      placeholder: "Start writting here...",
      tabsize: 2,
      height: 200,
    });
  });
</script>
