<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header"); -%>
  <body>
    <%- include("../partials/navbar"); -%>
    <!-- Main Content-->
    <%- body %>
    <%- include("../partials/footer"); -%>
    <%- include("../partials/scripts"); -%>
    <%- script %>
  </body>
</html>
